.App {
  text-align: center;
  background-color: #f0f0e0;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'splType01';
  src: url(./Splatfont.woff) format('woff');
}

@font-face {
  font-family: 'splType02';
  src: url(./Splatfont2.woff) format('woff');
}

/* 3dモデルの表示領域 */

.main {
  position: absolute;
  top: 0px;
  left: 0px;
}

.tooltip {
  font-family: splType02;
}

.font-type1 {
  font-family: splType01;
}

.font-type2 {
  font-family: splType02;
}

/*  */
/* ギア関連  */
/*  */

/* アタマ　フク　クツで共通の大きさ */
.gear-card {
  height: 205px;
  width: 200px;
  border-radius: 30px;
  margin-left: 0px;
  margin-right: 0px;
}

/* アタマ部分 */
#headgear-card {
  background: repeating-linear-gradient(
    45deg,
    #d63e53,
    #d63e53 20px,
    #f0624a 20px,
    #f0624a 40px
  );
  margin-top: 20px;
  margin-bottom: 20px;
}

/* フク部分 */
#clothesgear-card {
  background: repeating-linear-gradient(
    45deg,
    #19e1ba,
    #19e1ba 20px,
    #06be8a 20px,
    #06be8a 40px
  );
  margin-top: 20px;
  margin-bottom: 20px;
}

/* クツ部分 */
#shoesgear-card {
  background: repeating-linear-gradient(
    45deg,
    #f07807,
    #f07807 20px,
    #d25012 20px,
    #d25012 40px
  );
  margin-top: 20px;
  margin-bottom: 20px;
}

.gear-header {
  width: 200px;
  height: 34px;
  background-color: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/* ギア画像の大きさ */
.gear-img {
  width: 110px;
  height: 110px;
}

.head-tooltip {
  width: 110px;
  height: 110px;
  margin: auto;
  cursor: pointer;
}

/*スロット部分の高さ指定*/
.slot-row {
  height: 60px;
  position: relative;
}

/* スロットの位置調整 */
.main-slot {
  position: absolute;
  top: 6px;
  left: 5px;
}

.subslot-left {
  position: absolute;
  top: 15px;
  left: 60px;
}

.subslot-mid {
  position: absolute;
  top: 15px;
  left: 107px;
}

.subslot-right {
  position: absolute;
  top: 15px;
  left: 154px;
}

/*ギアアビリティを表示するときのスタイルをスロット、アイコン共に指定*/
.ability-icon {
  border-radius: 50%;
  background: #000;
  /*立体感演出のために明るい影をつける*/
  border: 2px solid #888;
  border-right: 0px;
  border-bottom: 0px;
  /*要素のフレームの周囲にシャドウ効果*/
  box-shadow: 0 0 0 1px #000;
}

/*メインスロットの大きさを調整*/
.main-slot {
  height: 48px;
  width: 48px;
  position: relative;
}

/* メインスロットのsvgの位置調整 */
.mainslot-tooltip {
  position: absolute;
  z-index: 5;
  top: -5px;
  left: -5px;
}

/*メインスロットの画像の大きさと位置調整*/
.mainslot-img {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 4;
}

/* サブスロットのsvgの位置調整 */
.subslot-tooltip {
  position: absolute;
  z-index: 5;
  top: -6px;
  left: -6px;
}

/*サブスロットの大きさ調整*/
.sub-slot {
  height: 40px;
  width: 40px;
  position: relative;
}

/*サブスロットの画像の大きさと位置調整*/
.subslot-img {
  height: 37px;
  width: 37px;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: 4;
}

.ability img {
  height: 56px;
  width: 56px;
}

.ability {
  float: left;
}

/*  */
/* アタマギアモーダル */
/*  */

.gear-icon {
  width: 150px;
  height: 182px;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #fafae2,
    #fafae2 20px,
    #e6e7c7 20px,
    #e6e7c7 40px
  );
  cursor: pointer;
  position: relative;
}
/* アタマギアのフッター */
.headgear-icon-footer {
  width: 150px;
  height: 55px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #d63e53,
    #d63e53 20px,
    #f0624a 20px,
    #f0624a 40px
  );
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}
/* フクギアのフッター */
.clothesgear-icon-footer {
  width: 150px;
  height: 55px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #19e1ba,
    #19e1ba 20px,
    #06be8a 20px,
    #06be8a 40px
  );
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.brand-img {
  width: 40px;
  height: 40px;
}

.brand-img-container {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  left: 3px;
}

.img-gear-icon-ability {
  width: 30px;
  height: 30px;
}

/* .brand {
  color: white;
  width: 100px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 13px;
} */

.brand-ability {
  width: 50px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 13px;
  padding-top: 3px;
  margin: auto;
}

.gear-icon-outer {
  padding: 10px;
}

/**/
/*ブキ関連*/
/**/
.select-index {
  margin-left: 10px;
  margin-right: 2px;
}

.selectbox {
  margin-left: 2px;
}

.weapon-icon {
  width: 150px;
  height: 182px;
  border-radius: 10px;
  background: repeating-linear-gradient(
    45deg,
    #fafae2,
    #fafae2 20px,
    #e6e7c7 20px,
    #e6e7c7 40px
  );

  cursor: pointer;
}

.weapon-outer {
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

.img-weapon {
  width: 128px;
  height: 128px;
}

.sub-sp-bg {
  width: 150px;
  height: 54px;
  background: repeating-linear-gradient(
    45deg,
    #dbe826,
    #dbe826 20px,
    #c4d412 20px,
    #c4d412 40px
  );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: auto;
}

.sub-sp {
  position: relative;
  width: 56px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 13px;
}

.img-sub-sp {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 40px;
  height: 40px;
}

/*ギアパワーのスイッチ*/

.turned-on,
.turned-off {
  position: relative;
  width: 40px;
  height: 20px;
  margin: auto;
}

.switch-base {
  /*position: absolute;*/
  left: 0;
  top: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  cursor: pointer;
  width: 40px;
  height: 20px;
  background: #ddba2c;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
}

.turned-off .switch-base {
  border-color: #ccc;
  background: #ccc;
}

.turned-on #switch-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #ffffff;
  top: 1px;
  left: 21px;
  border-radius: 9px;
  transition: 0.2s;
  cursor: pointer;
}

.turned-off #switch-circle {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 1px;
  left: 1px;
  border-radius: 9px;
  transition: 0.2s;
  background: #ffffff;
  cursor: pointer;
}

.weapon {
  float: left;
}

.modal-close-btn {
  cursor: pointer;
  padding: 0px;
  background: transparent;
  border-color: transparent;
}

.modal-close-btn svg {
  opacity: 0.6;
}

.modal-close-btn:hover {
  transition: 0.001s;
  transform: scale(1.6, 1.6);
}

/*とじるボタン*/
.close-btn-svg {
  cursor: pointer;
  opacity: 0.8;
}

.close-btn-svg:hover {
  transition-duration: 0.1s;
  transform: scale(1.05, 1.05);
}

.close-btn-svg:hover .close-btn-default {
  fill: none;
}

.close-btn-svg:hover .close-btn-hover {
  fill: #d9dc20;
}

/*とじるボタンのsvg内のテキスト要素*/
.svg-text-default {
  font-size: 150px;
  font-weight: bold;
  user-select: none;
}

.svg-text-hover {
  user-select: none;
}

.close-btn-svg:hover .svg-text-hover {
  fill: white;
  font-size: 190px;
  font-weight: bold;
}
.close-btn-svg:hover .svg-text-default {
  fill: none;
}

/*skincolorボタンのスタイル*/
/*.skincolor-btn {*/
/*  width: 100px;*/
/*  height:70px;*/
/*}*/

/*SCボタン*/
.SC-btn-svg {
  cursor: pointer;
}

.SC-btn-svg:hover,
#SC-0.selected .SC-btn-svg,
#SC-1.selected .SC-btn-svg,
#SC-2.selected .SC-btn-svg,
#SC-3.selected .SC-btn-svg,
#SC-4.selected .SC-btn-svg,
#SC-5.selected .SC-btn-svg,
#SC-6.selected .SC-btn-svg {
  transition-duration: 0.1s;
  transform: scale(1.05, 1.05);
}

.SC-btn-svg:hover .SC-btn-default {
  fill: none;
}

.SC-svg-0:hover .SC-btn-hover,
.SC-svg-0:active .SC-btn-default,
#SC-0.selected .SC-btn-svg .SC-btn-hover {
  fill: #fddfdb;
}

.SC-svg-1:hover .SC-btn-hover,
.SC-svg-1:active .SC-btn-default,
#SC-1.selected .SC-btn-svg .SC-btn-hover {
  fill: #ffcabb;
}

.SC-svg-2:hover .SC-btn-hover,
.SC-svg-2:active .SC-btn-default,
#SC-2.selected .SC-btn-svg .SC-btn-hover {
  fill: #ffc29e;
}

.SC-svg-3:hover .SC-btn-hover,
.SC-svg-3:active .SC-btn-default,
#SC-3.selected .SC-btn-svg .SC-btn-hover {
  fill: #f58d70;
}

.SC-svg-4:hover .SC-btn-hover,
.SC-svg-4:active .SC-btn-default,
#SC-4.selected .SC-btn-svg .SC-btn-hover {
  fill: #b44f37;
}

.SC-svg-5:hover .SC-btn-hover,
.SC-svg-5:active .SC-btn-default,
#SC-5.selected .SC-btn-svg .SC-btn-hover {
  fill: #592a20;
}

.SC-svg-6:hover .SC-btn-hover,
.SC-svg-6:active .SC-btn-default,
#SC-6.selected .SC-btn-svg .SC-btn-hover {
  fill: #331110;
}

.SC-btn-svg:active .SC-btn-hover {
  fill: none;
}

#SC-0.selected .SC-btn-svg .SC-btn-default,
#SC-1.selected .SC-btn-svg .SC-btn-default,
#SC-2.selected .SC-btn-svg .SC-btn-default,
#SC-3.selected .SC-btn-svg .SC-btn-default,
#SC-4.selected .SC-btn-svg .SC-btn-default,
#SC-5.selected .SC-btn-svg .SC-btn-default,
#SC-6.selected .SC-btn-svg .SC-btn-default {
  fill: none;
}

/*
CTボタン
*/
/*ボタン内のテキスト*/
.CT-text-default {
  font-size: 130px;
  font-weight: bold;
  user-select: none;
}

.CT-text-hover {
  user-select: none;
}

.CT-btn-svg:hover .CT-text-hover {
  fill: white;
  font-size: 160px;
  font-weight: bold;
}
/*CTボタンのアニメーション*/
.CT-btn-svg {
  cursor: pointer;
  opacity: 0.8;
}

.CT-btn-svg:hover {
  transition: 0.1s;
  transform: scale(1.05, 1.05);
}

.CT-btn-svg:hover .CT-btn-default,
.CT-btn-svg:hover .CT-text-default,
.CT-btn-svg:active .CT-btn-hover {
  fill: none;
}

.CT-btn-svg:hover .CT-btn-hover,
.CT-btn-svg:active .CT-btn-default,
.CT-btn-svg:active .CT-btn-default {
  fill: #d9dc20;
}

.CT-btn-svg:active .CT-btn-hover {
  fill: none;
}

#IFML.selected .CT-btn-svg,
#IML.selected .CT-btn-svg,
#OFML.selected .CT-btn-svg,
#OML.selected .CT-btn-svg {
  transform: scale(1.05, 1.05);
}

#IFML.selected .CT-btn-svg .CT-btn-default,
#IML.selected .CT-btn-svg .CT-btn-default,
#OFML.selected .CT-btn-svg .CT-btn-default,
#OML.selected .CT-btn-svg .CT-btn-default {
  fill: none;
}

#IFML.selected .CT-btn-svg .CT-btn-hover,
#IML.selected .CT-btn-svg .CT-btn-hover,
#OFML.selected .CT-btn-svg .CT-btn-hover,
#OML.selected .CT-btn-svg .CT-btn-hover {
  fill: #d9dc20;
}

#IFML.selected .CT-btn-svg .CT-text-default,
#IML.selected .CT-btn-svg .CT-text-default,
#OFML.selected .CT-btn-svg .CT-text-default,
#OML.selected .CT-btn-svg .CT-text-default {
  fill: none;
}

#IFML.selected .CT-btn-svg .CT-text-hover,
#IML.selected .CT-btn-svg .CT-text-hover,
#OFML.selected .CT-btn-svg .CT-text-hover,
#OML.selected .CT-btn-svg .CT-text-hover {
  fill: white;
  font-size: 160px;
  font-weight: bold;
}
/*
HSボタン
*/
.HS-btn-svg {
  cursor: pointer;
}

.HS-btn-svg:hover {
  transition: 0.1s;
  transform: rotate(-15deg) scale(1.1, 1.1);
}

.IFML-HS-btn .HS-btn-svg:hover .HS-btn-hair {
  fill: #0cd900;
}

.IFML-HS-3 .HS-btn-svg:hover .HS-btn-geso-0,
#IFML-HS-3.rotate .HS-btn-svg:hover .HS-btn-geso-0,
#IFML-HS-3.selected .HS-btn-svg .HS-btn-geso-0,
.IFML-HS-4 .HS-btn-svg:hover .HS-btn-geso,
#IFML-HS-4.rotate .HS-btn-svg:hover .HS-btn-geso,
#IFML-HS-4.selected .HS-btn-svg .HS-btn-geso {
  fill: #cff4db;
}

.IFML-HS-3 .HS-btn-svg:hover .HS-btn-geso-1,
#IFML-HS-3.rotate .HS-btn-svg:hover .HS-btn-geso-1,
#IFML-HS-3.selected .HS-btn-svg .HS-btn-geso-1 {
  fill: #63e398;
}

.IFML-HS-4 .HS-btn-svg:hover .HS-btn-hairband,
#IFML-HS-4.rotate .HS-btn-svg:hover .HS-btn-hairband,
#IFML-HS-4.selected .HS-btn-svg .HS-btn-hairband {
  fill: #66e569;
}

#IFML-HS-0.rotate .HS-btn-svg:hover,
#IFML-HS-1.rotate .HS-btn-svg:hover,
#IFML-HS-2.rotate .HS-btn-svg:hover,
#IFML-HS-3.rotate .HS-btn-svg:hover,
#IFML-HS-4.rotate .HS-btn-svg:hover,
#IFML-HS-5.rotate .HS-btn-svg:hover {
  transition: 0.03s;
  transform: rotate(-15deg);
}

#IFML-HS-0.rotate .HS-btn-svg:hover .HS-btn-hair,
#IFML-HS-0.selected .HS-btn-svg .HS-btn-hair,
#IFML-HS-1.rotate .HS-btn-svg:hover .HS-btn-hair,
#IFML-HS-1.selected .HS-btn-svg .HS-btn-hair,
#IFML-HS-2.rotate .HS-btn-svg:hover .HS-btn-hair,
#IFML-HS-2.selected .HS-btn-svg .HS-btn-hair,
#IFML-HS-3.rotate .HS-btn-svg:hover .HS-btn-hair,
#IFML-HS-3.selected .HS-btn-svg .HS-btn-hair,
#IFML-HS-4.rotate .HS-btn-svg:hover .HS-btn-hair,
#IFML-HS-4.selected .HS-btn-svg .HS-btn-hair,
#IFML-HS-5.rotate .HS-btn-svg:hover .HS-btn-hair,
#IFML-HS-5.selected .HS-btn-svg .HS-btn-hair {
  fill: #ffb23d;
}

#IFML-HS-0.selected .HS-btn-svg,
#IFML-HS-1.selected .HS-btn-svg,
#IFML-HS-2.selected .HS-btn-svg,
#IFML-HS-3.selected .HS-btn-svg,
#IFML-HS-4.selected .HS-btn-svg,
#IFML-HS-5.selected .HS-btn-svg {
  transform: rotate(-15deg) scale(1.1, 1.1);
}

.OFML-HS-btn .HS-btn-svg:hover .HS-btn-hair {
  fill: #ffb23d;
}

.OFML-HS-0 .HS-btn-svg:hover .HS-btn-geso,
#OFML-HS-0.rotate .HS-btn-svg:hover .HS-btn-geso,
#OFML-HS-0.selected .HS-btn-svg .HS-btn-geso,
.OFML-HS-0 .HS-btn-svg:hover .HS-btn-suc,
#OFML-HS-0.rotate .HS-btn-svg:hover .HS-btn-suc,
#OFML-HS-0.selected .HS-btn-svg .HS-btn-suc,
.OFML-HS-1 .HS-btn-svg:hover .HS-btn-geso,
#OFML-HS-1.rotate .HS-btn-svg:hover .HS-btn-geso,
#OFML-HS-1.selected .HS-btn-svg .HS-btn-geso,
.OFML-HS-1 .HS-btn-svg:hover .HS-btn-suc,
#OFML-HS-1.rotate .HS-btn-svg:hover .HS-btn-suc,
#OFML-HS-1.selected .HS-btn-svg .HS-btn-suc {
  fill: #cff4db;
}

.OFML-HS-1 .HS-btn-svg:hover .HS-btn-hairband,
#OFML-HS-1.rotate .HS-btn-svg:hover .HS-btn-hairband,
#OFML-HS-1.selected .HS-btn-svg .HS-btn-hairband {
  fill: #66e569;
}

#OFML-HS-0.rotate .HS-btn-svg:hover,
#OFML-HS-1.rotate .HS-btn-svg:hover {
  transition: 0.03s;
  transform: rotate(-15deg);
}

#OFML-HS-0.rotate .HS-btn-svg:hover .HS-btn-hair,
#OFML-HS-0.selected .HS-btn-svg .HS-btn-hair,
#OFML-HS-1.rotate .HS-btn-svg:hover .HS-btn-hair,
#OFML-HS-1.selected .HS-btn-svg .HS-btn-hair {
  fill: #ffb23d;
}

#OFML-HS-0.selected .HS-btn-svg,
#OFML-HS-1.selected .HS-btn-svg {
  transform: rotate(-15deg) scale(1.1, 1.1);
}

.IML-HS-btn .HS-btn-svg:hover .HS-btn-hair {
  fill: #ff00b3;
}

.IML-HS-2 .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-2.rotate .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-2.selected .HS-btn-svg .HS-btn-geso,
.IML-HS-3 .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-3.rotate .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-3.selected .HS-btn-svg .HS-btn-geso,
.IML-HS-4 .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-4.rotate .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-4.selected .HS-btn-svg .HS-btn-geso,
.IML-HS-5 .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-5.rotate .HS-btn-svg:hover .HS-btn-geso,
#IML-HS-5.selected .HS-btn-svg .HS-btn-geso {
  fill: #fecddd;
}

#IML-HS-0.rotate .HS-btn-svg:hover,
#IML-HS-1.rotate .HS-btn-svg:hover,
#IML-HS-2.rotate .HS-btn-svg:hover,
#IML-HS-3.rotate .HS-btn-svg:hover,
#IML-HS-4.rotate .HS-btn-svg:hover,
#IML-HS-5.rotate .HS-btn-svg:hover {
  transition: 0.03s;
  transform: rotate(-15deg);
}

#IML-HS-0.rotate .HS-btn-svg:hover .HS-btn-hair,
#IML-HS-0.selected .HS-btn-svg .HS-btn-hair,
#IML-HS-1.rotate .HS-btn-svg:hover .HS-btn-hair,
#IML-HS-1.selected .HS-btn-svg .HS-btn-hair,
#IML-HS-2.rotate .HS-btn-svg:hover .HS-btn-hair,
#IML-HS-2.selected .HS-btn-svg .HS-btn-hair,
#IML-HS-3.rotate .HS-btn-svg:hover .HS-btn-hair,
#IML-HS-3.selected .HS-btn-svg .HS-btn-hair,
#IML-HS-4.rotate .HS-btn-svg:hover .HS-btn-hair,
#IML-HS-4.selected .HS-btn-svg .HS-btn-hair,
#IML-HS-5.rotate .HS-btn-svg:hover .HS-btn-hair,
#IML-HS-5.selected .HS-btn-svg .HS-btn-hair {
  fill: #ff00b3;
}

#IML-HS-0.selected .HS-btn-svg,
#IML-HS-1.selected .HS-btn-svg,
#IML-HS-2.selected .HS-btn-svg,
#IML-HS-3.selected .HS-btn-svg,
#IML-HS-4.selected .HS-btn-svg,
#IML-HS-5.selected .HS-btn-svg {
  transform: rotate(-15deg) scale(1.1, 1.1);
}

#IML-HS-4.IML-HS-btn .HS-btn-svg:hover .HS-btn-hair-1,
#IML-HS-4.rotate .HS-btn-svg:hover .HS-btn-hair-1,
#IML-HS-4.selected .HS-btn-svg .HS-btn-hair-1 {
  fill: #fd48ba;
}

.OML-HS-btn .HS-btn-svg:hover .HS-btn-hair {
  fill: #ff00b3;
}

.OML-HS-0 .HS-btn-svg:hover .HS-btn-suc,
#OML-HS-0.rotate .HS-btn-svg:hover .HS-btn-suc,
#OML-HS-0.selected .HS-btn-svg .HS-btn-suc {
  fill: #fecddd;
}

.OML-HS-0 .HS-btn-svg:hover .HS-btn-geso,
#OML-HS-0.rotate .HS-btn-svg:hover .HS-btn-geso,
#OML-HS-0.selected .HS-btn-svg .HS-btn-geso {
  fill: #ffa1d2;
}

#OML-HS-0.rotate .HS-btn-svg:hover,
#OML-HS-1.rotate .HS-btn-svg:hover {
  transition: 0.03s;
  transform: rotate(-15deg);
}

#OML-HS-0.rotate .HS-btn-svg:hover .HS-btn-hair,
#OML-HS-0.selected .HS-btn-svg .HS-btn-hair,
#OML-HS-1.rotate .HS-btn-svg:hover .HS-btn-hair,
#OML-HS-1.selected .HS-btn-svg .HS-btn-hair {
  fill: #ff00b3;
}

#OML-HS-0.selected .HS-btn-svg,
#OML-HS-1.selected .HS-btn-svg {
  transform: rotate(-15deg) scale(1.1, 1.1);
}

/*
Btmボタン
*/
.Btm-btn-svg {
  cursor: pointer;
}

.Btm-btn-svg:hover {
  transition: 0.1s;
  transform: rotate(-15deg) scale(1.1, 1.1);
}

.FML-Btm-btn .Btm-btn-svg:hover .Btm-btn-color {
  fill: #0cd900;
}

#FML-Btm-0.rotate .Btm-btn-svg:hover,
#FML-Btm-1.rotate .Btm-btn-svg:hover,
#FML-Btm-2.rotate .Btm-btn-svg:hover,
#FML-Btm-3.rotate .Btm-btn-svg:hover,
#FML-Btm-4.rotate .Btm-btn-svg:hover {
  transition: 0.03s;
  transform: rotate(-15deg);
}

#FML-Btm-0.rotate .Btm-btn-svg:hover .Btm-btn-color,
#FML-Btm-0.selected .Btm-btn-svg .Btm-btn-color,
#FML-Btm-1.rotate .Btm-btn-svg:hover .Btm-btn-color,
#FML-Btm-1.selected .Btm-btn-svg .Btm-btn-color,
#FML-Btm-2.rotate .Btm-btn-svg:hover .Btm-btn-color,
#FML-Btm-2.selected .Btm-btn-svg .Btm-btn-color,
#FML-Btm-3.rotate .Btm-btn-svg:hover .Btm-btn-color,
#FML-Btm-3.selected .Btm-btn-svg .Btm-btn-color,
#FML-Btm-4.rotate .Btm-btn-svg:hover .Btm-btn-color,
#FML-Btm-4.selected .Btm-btn-svg .Btm-btn-color {
  fill: #0cd900;
}

#FML-Btm-0.selected .Btm-btn-svg,
#FML-Btm-1.selected .Btm-btn-svg,
#FML-Btm-2.selected .Btm-btn-svg,
#FML-Btm-3.selected .Btm-btn-svg,
#FML-Btm-4.selected .Btm-btn-svg {
  transform: rotate(-15deg) scale(1.1, 1.1);
}

.ML-Btm-btn .Btm-btn-svg:hover .Btm-btn-color {
  fill: #ff00b3;
}

#ML-Btm-0.rotate .Btm-btn-svg:hover,
#ML-Btm-1.rotate .Btm-btn-svg:hover,
#ML-Btm-2.rotate .Btm-btn-svg:hover,
#ML-Btm-3.rotate .Btm-btn-svg:hover,
#ML-Btm-4.rotate .Btm-btn-svg:hover {
  transition: 0.03s;
  transform: rotate(-15deg);
}

#ML-Btm-0.rotate .Btm-btn-svg:hover .Btm-btn-color,
#ML-Btm-0.selected .Btm-btn-svg .Btm-btn-color,
#ML-Btm-1.rotate .Btm-btn-svg:hover .Btm-btn-color,
#ML-Btm-1.selected .Btm-btn-svg .Btm-btn-color,
#ML-Btm-2.rotate .Btm-btn-svg:hover .Btm-btn-color,
#ML-Btm-2.selected .Btm-btn-svg .Btm-btn-color,
#ML-Btm-3.rotate .Btm-btn-svg:hover .Btm-btn-color,
#ML-Btm-3.selected .Btm-btn-svg .Btm-btn-color,
#ML-Btm-4.rotate .Btm-btn-svg:hover .Btm-btn-color,
#ML-Btm-4.selected .Btm-btn-svg .Btm-btn-color {
  fill: #ff00b3;
}

#ML-Btm-0.selected .Btm-btn-svg,
#ML-Btm-1.selected .Btm-btn-svg,
#ML-Btm-2.selected .Btm-btn-svg,
#ML-Btm-3.selected .Btm-btn-svg,
#ML-Btm-4.selected .Btm-btn-svg {
  transform: rotate(-15deg) scale(1.1, 1.1);
}

/*  */
/*AEのスタイル*/
/*  */

.ae-card {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}

.ability-effect p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
/* ギアパワーのアイコン */
.ae-icon {
  width: 45px;
}

.ae-text {
  width: 200px;
  text-align: right;
}

.ae-text-sm {
  width: 140px;
  text-align: right;
}

.ae-text-md {
  width: 180px;
  text-align: right;
}

.ae-text-lg {
  width: 200px;
  text-align: right;
}

.ae-text-lg2 {
  width: 205px;
  text-align: right;
}

.ae-text-lg3 {
  width: 230px;
  text-align: right;
}

.ae-text-xl {
  width: 290px;
  text-align: right;
}

.ae-text-xxl {
  width: 350px;
  text-align: right;
}

.ae-text-qr {
  width: 180px;
  text-align: right;
}

.ae-text-armor {
  width: 190px;
  text-align: right;
}

.ae-colon-xsm {
  width: 20px;
}

.ae-colon-sm {
  width: 30px;
}

.ae-colon-md {
  width: 50px;
}

.ae-colon-lg {
  width: 70px;
}

.ae-colon-armor {
  width: 30px;
}

.ae-effect {
  text-align: left;
}

.ae-effect-xsm {
  text-align: left;
}

.ae-effect-sm {
  width: 100px;
  text-align: left;
}

.ae-effect-md {
  width: 110px;
  text-align: left;
}

.ae-effect-lg {
  width: 130px;
  text-align: left;
}

.ae-effect-qr {
  width: 120px;
  text-align: left;
}

.ae-effect-armor {
  width: 120px;
  text-align: left;
}

.ae-effect-nozzle {
  width: 110px;
  text-align: left;
}

.ae-sub-img {
  position: relative;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#ae-section {
  height: 100vh;
  overflow: auto;
  padding-left: 0px;
}

#ae-section::-webkit-scrollbar {
  width: 10px;
}

#ae-section::-webkit-scrollbar-track {
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777;
}

#ae-section::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  box-shadow: none;
}

#ae-container {
  padding-left: 0px;
}

#three-section {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

#character-btn {
  position: absolute;
  top: 10px;
  left: 300px;
  z-index: 1;
}

#weapon-card {
  width: 100%;
  height: 170px;
  background: repeating-linear-gradient(
    45deg,
    #dbe826,
    #dbe826 20px,
    #c4d412 20px,
    #c4d412 40px
  );
  border-radius: 30px;
  padding-top: 7px;
}

#weapon-footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

#weapon-container {
  padding-left: 0px;
}

.weapon-sub-sp {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 13px;
}

.weapon-sub-sp p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .img-sub-sp {
  position: absolute;
  top: 4px;
  left: 8px;
  width: 40px;
  height: 40px;
} */
